@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --clr-pri-pblue:hsl(225, 100%, 94%);
    --clr-pri-Bblue:hsl(245, 75%, 52%);
    --clr-pri-Bblue2:hsl(245, 45%, 50%);

    --clr-neu-Vpblue:hsl(225, 100%, 98%);
    --clr-neu-Ddblue:hsl(224, 23%, 55%);
    --clr-neu-Dblue:hsl(223, 47%, 23%);

    --ff-main: 'Outfit', sans-serif;
    --ff-main2: 'Red Hat Display', sans-serif;

    --fw-medium:500;
    --fw-bold:700;
    --fw-black:900;
}


* {
  margin: 0;
  
}


html, body {
    height: 100%;
    padding: 2.5em 0.75em;
    background: var(--clr-pri-pblue);
}


@media (min-width: 700px)  {
    html, body{
        padding: 3em 16em;
    }
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-align: center;
}

img{
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}

.card{
    background:var(--clr-neu-Vpblue); 
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5em;
    box-shadow: 0px 1.25px 1.25px rgba(0, 0, 0, 0.08);
}

.plan{
    display: flex;
    background:var(--clr-pri-pblue) ;
    border-radius:12px;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    padding: 0.75em 0em;
}

.price{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.maintext{
    display: flex;
    width: 76%;
    flex-direction: column;
    gap:1rem;
}


h1,h2{
    font-family: var(--ff-main);
    font-size: 22px;
    font-weight: var(--fw-bold);
    color: var(--clr-neu-Dblue);
}

.cancel-order{
    font-size: 17px;
    font-weight: var(--fw-medium);
    font-family: var(--ff-main);
}

p{
    font-size: 15px;
    font-family: var(--ff-main2);
    color: var(--clr-neu-Ddblue);
    font-weight: var(--fw-medium);
}


h2{
    font-size: 16px;
}


.buttons{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}


button{
    border: none;
    border-radius: 12px;
    padding: 1rem 5rem;
    background: var(--clr-pri-Bblue);
    color: var(--clr-pri-pblue);
    font-weight: var(--fw-black);
    font-family: var(--ff-main2);
    box-shadow: 0px 3px 20px hsl(245, 75%, 52%);
}

button:hover{
    background: var(--clr-pri-Bblue2);
    box-shadow: 0px 3px 20px hsl(245, 45%, 50%);
}

.cancel-order:hover{
    color: var(--clr-neu-Dblue);
}
